body {
    display: flex;
    background-color: #ED3E73;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#bendera {
    width: 100%;
}

#title{
    font-family: Inter;
    text-align: center;
    font-weight: bold;
    color: white;
}

.container-bendera {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container-bendera img {
    width: 50%;
}

.container-cake {
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
}

.container-cake h1 {
    display: block;
    margin-top: 50%;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 2;
}

.container-cake img {
    width: 50%;
    position: absolute;
    z-index: 1;
}

.atr {
    display: flex;
    position: relative;
    margin-top: 150px;
    justify-content: space-between;
    width: 100%;
}

.atr-1,
.atr-2 {
    width: 20%;
    max-width: 20%;
}

.atr-1 img {
    width: 20%;
    max-width: 20%;
    margin-top: -200px;
}

.atr-2 img {
    width: 20%;
    max-width: 20%;
    margin-top: -150px;
}

@font-face {
    font-family: "Inter";
    src: url("Inter-ExtraBold.ttf") format("truetype");
}

.balloon {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 3;
    margin-top: 200px;
    background-color: aliceblue;
}

.ballon-1{
    width: 50%;
    
}

.ballon-2{
    width: 50%;
}

.paper{
    width: 100%;
    height: 100vh;
}

.paper img{
    width: 80%;
}